<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图书查询</title>
</head>
<body>
<h1>图书查询 <a href="/logout">退出</a></h1>

<!-- 搜索表单 -->
<form th:action="@{/user/books}" method="get">
    <input type="text" name="keyword" placeholder="搜索书名或作者">
    <button type="submit">搜索</button>
</form>

<!-- 图书表格 -->
<table border="1">
    <tr>
        <th>书名</th>
        <th>作者</th>
        <th>分类</th>
        <th>数量</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.category.name}"></td>
        <td th:text="${book.quantity}"></td>
    </tr>
</table>
</body>
</html>